.shop-bar {
    display: inherit;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
    background: rgba(76,76,76,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(8,8,8,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(8,8,8,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(8,8,8,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(8,8,8,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(8,8,8,1) 100%);
    background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(8,8,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#080808', GradientType=1 );
    opacity:0.95;
}

.langFlag {
    width:20px;
}